always-auth=true

//npm.greensock.com/:_authToken=8c5e9671-5a2f-40f4-b69c-5c3666912f9c
@gsap:registry=https://npm.greensock.com

init-author-name=MuchMore
init-license=MIT
registry=https://npm.muchmore.co/
//npm.muchmore.co/:_authToken="2am86Hcz/vZY5z+DKbzcbKlLo50NwrMiVvJ6Lmf5gaE="
