layout {
    pane name="editor" command="nvim" {
        focus true
    } 
    floating_panes {
        pane name="serve" command="yarn serve:prod" {
            start_suspended true
        }
        pane name="yarn" command="yarn watch" {
            start_suspended true
        }
    }
}
